.news-detail-image {
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color-span {
    color: #3c8dbc;
}

.contact-table .fa {
	width: 14px;
	margin-left: 5px;
	margin-right: 10px;
}

#carousel-example-generic {
	width: 50%;
}

.btm-margin {
	margin-bottom: 20px;
}